#!/usr/bin/env python

PACKAGE = "amr_perception"
NODE = "laser_republisher"

import roslib
roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()

gen.add("rate", int_t, 0, "publish rate", 0, 100, 10)
exit(gen.generate(PACKAGE, NODE, "LaserRepublisher"))
